body {
  box-sizing: border-box;
  margin: 0;
  padding: 100px;
  display: flex;
  height: 100vh;
}

h1 {
  font-size: 50px;
  margin-bottom: 100px;
}

select {
  font-size: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 20px;
}
